.Game {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Pictures {
  margin: 10px;
}

.game-pics {
  margin: 5px;
  width: 150px;
  height: 150px;
}

.Board {
  width: 95%;
  height: 175px;
  border: 7px dotted rgb(0, 0, 0);
  border-radius: 50px;
  margin-left: 2%;
  margin-right: 500px;
}

button {
  border: 1px solid #030909;
  border-radius: 4px;
  background: #030909;
  color: #fffbf3;
  font-weight: bold;
  font-size: 14.5pt;
  padding: 14px 12px;
  line-height: 0.5;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
}

button:hover {
  border: 1px solid #030909;
  border-radius: 4px;
  background: #fffbf3;
  color: #030909;
  font-weight: bold;
  font-size: 14.5pt;
  padding: 14px 12px;
  line-height: 0.5;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
