.arrow-left {
  position: absolute;
  top: 35%;
  left: 32px;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.arrow-right {
  position: absolute;
  top: 35%;
  right: 32px;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.arrow-left:hover,
.arrow-right:hover {
  color: black;
}

.description {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 10px;

  text-align: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 5s;
  transform: scale(1.08);
}

.slideshow-title {
  text-align: center;
}

.slideshow-pictures {
  position: sticky;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .slideshow {
  text-align: center;
  box-shadow: none;
} */

/* body {
  text-align: center;
}

.carousel-btn {
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  margin: 10px;
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
  outline: 1px solid black;
}

.slide {
  background-color: #5998a3;
} */
